In [1]:
%load_ext autoreload
%autoreload 2

In [3]:
import sys

In [4]:
sys.path.append('../../')

In [7]:
import pandas as pd

In [10]:
df = pd.read_csv('../datasets/titanic.csv')

In [11]:
df

     Survived  Pclass                                               Name     Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0           0       3                             Mr. Owen Harris Braund    male  22.0                        1                        0   7.2500
1           1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...  female  38.0                        1                        0  71.2833
2           1       3                              Miss. Laina Heikkinen  female  26.0                        0                        0   7.9250
3           1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle  female  35.0                        1                        0  53.1000
4           0       3                            Mr. William Henry Allen    male  35.0                        0                        0   8.0500
..        ...     ...                                                ...     ...   ...                      ...                      ...      ...
882         0       2                               Rev. Juozas Montvila    male  27.0                        0                        0  13.0000
883         1       1                        Miss. Margaret Edith Graham  female  19.0                        0                        0  30.0000
884         0       3                     Miss. Catherine Helen Johnston  female   7.0                        1                        2  23.4500
885         1       1                               Mr. Karl Howell Behr    male  26.0                        0                        0  30.0000
886         0       3                                 Mr. Patrick Dooley    male  32.0                        0                        0   7.7500

[887 rows x 8 columns]

In [15]:
from NERD.sklearn_extras import MultiLabelEncoder, ColumnsSelector
from sklearn.pipeline import Pipeline

In [18]:
good_cols = df.columns[1:]

In [20]:
feat_pipeline = Pipeline([
    ('cols', ColumnsSelector(good_cols)),
    ('feat', MultiLabelEncoder())
])

In [61]:
unique_tags = [
    ('ALIVE', 'Survived'),
    ('Dead', 'Dead')
]

In [84]:
from NERD.TABULAR import DataFrameClassifier

In [85]:
ts = DataFrameClassifier(df, unique_tags, featurization_pipeline=feat_pipeline)

In [ ]:
ts.start_server(port=5052)

 * Serving Flask app "NERD.TABULAR" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off
['Dead']
['Dead']
['Dead']
['Dead']
['ALIVE']
['Dead']
['Dead']
['Dead']
['Dead']
['Dead']
['ALIVE']
['Dead']
['Dead']
['ALIVE']
['Dead']
['ALIVE']
['Dead']
['Dead']
['Dead']
['ALIVE']
['Dead']
['Dead']
['ALIVE']
['ALIVE']
['Dead']
['Dead']
['ALIVE']
['Dead']
['Dead']
['ALIVE']
['Dead']
['ALIVE']
['Dead']
['Dead']
['Dead']
['ALIVE']
['ALIVE']
['ALIVE']
['Dead']
['Dead']
['Dead']
['Dead']
['ALIVE']
['Dead']
['ALIVE']
['Dead']
['Dead']
['ALIVE']
['Dead']
['Dead']
['Dead']
['Dead']
['ALIVE']
['Dead']
['ALIVE']
['ALIVE']
['ALIVE']
['Dead']
['Dead']
['Dead']
['Dead']
['ALIVE']
['Dead']
['ALIVE']
['Dead']
['Dead']
['Dead']
['Dead']
['Dead']

In [86]:
ts.save_labelled_examples('DF_Classification_Data/titanic_labelled.json')

In [89]:
pd.read_json('DF_Classification_Data/titanic_labelled.json', orient='records', lines=True)

     Survived  Pclass                                              Name     Sex    Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare  class
0           0       3                            Mr. Owen Harris Braund    male  22.00                        1                        0   7.2500   Dead
1           1       3                             Miss. Laina Heikkinen  female  26.00                        0                        0   7.9250  ALIVE
2           1       3  Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson  female  27.00                        0                        2  11.1333  ALIVE
3           1       3                    Miss. Marguerite Rut Sandstrom  female   4.00                        1                        1  16.7000  ALIVE
4           0       3                               Master. Eugene Rice    male   2.00                        4                        1  29.1250   Dead
..        ...     ...                                               ...     ...    ...                      ...                      ...      ...    ...
153         1       2                              Master. Andre Mallet    male   1.00                        0                        2  37.0042  ALIVE
154         1       2                    Master. George Sibley Richards    male   0.83                        1                        1  18.7500  ALIVE
155         0       3                         Mr. Peter L Lemberopolous    male  34.50                        0                        0   6.4375   Dead
156         0       3                                Mr. Jeso Culumovic    male  17.00                        0                        0   8.6625   Dead
157         0       3                            Miss. Nourelain Boulos  female   9.00                        1                        1  15.2458   Dead

[158 rows x 9 columns]